body {
  font-family: 'Palatino', 'Garamond', serif;
  padding: 0.1px; /* prevent margin overflow */
  margin: 0;
}

h1 {
  font-size: 2em;
}

.info {
  text-align: center;
}

.wrapper {
  margin: 50px auto 0;
  width: 450px;
}

.keyboard-friendly {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 12px;
  background: rgba(255,255,255,0.75);
}

.keyboard-friendly-img {
  width: 70px;
  display: block;
}

.board button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
}
.board button:hover {
  filter: brightness(75%);
}
/* no focus rings by default... focus borders get added via js */
.board button:focus {
  outline: 0;
}
.board button::-moz-focus-inner {
  border: 0;
}

button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);
}

button.black {
  background: #000;
  background: linear-gradient(to bottom, #333 0%,#000000 100%);
}

.info .red {
  color: red;
}

.info .black {
  color: black;
}

.play-again {
  height: 0px;
  overflow: hidden;
}
.play-again.show {
  height: 72px;
  transition: 0.75s;
}

.play-again-btn {
  display: inline-block;
  margin-bottom: 2em;
  height: 40px;
  line-height: 40px;
  width: 50%;
  background: mediumseagreen;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  opacity: 0.9;
}
.play-again-btn:hover,
.play-again-btn:focus {
  background: #359660;
}
.play-again:hover {
  opacity: 1;
}

@media (max-width: 460px) {
  .top-text {
    font-size: 1.3em;
  }

  .wrapper {
    margin: 20px auto 0;
    width: 240px;
  }

  .board button {
    width: 30px;
    height: 30px;
  }
}
